* {
    padding: 0;
    margin: 0 auto;    
}

body, 
html {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #999;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
    color: #404040;
}

.blue {
    color: #a0c3ff !important;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.space {
    margin-top: 30px;
}

.content {
    padding: 20px 30px;
    font-size: 1.3em;
}

.center {
    text-align: center !important;
}

/* Blog */

.blog {
    position: absolute;
    top: 0;
    right: 0;
    margin: 80px 0;
    width: 75%
}

#master {
    position: fixed !important; 
    top: 0;
    left: 0;
    width: 25% !important;
    height: 100%;
    background-color: #b0120a;
    padding-top: 70px;
    box-shadow: inset -30px -10px 80px 0 rgba(0,0,0,.2), inset -10px -10px 20px 0 rgba(0,0,0,.15), 1px 0 0 0 white;
}

#logo {
    background:url(../img/logo.png) center no-repeat;
    padding: 260px 0 50px 0;
}

#master ul {
    padding: 10px 0;
    text-align: center;
    display: block;
}

#master ul li {
    padding: 8px 0;
    font-size: 20px;
    color: #fff;
}

#master a {
	color: #fff;
}

#master a:hover {
    webkit-transition: all 0.25s;
    moz-transition: all 0.25s;
    o-transition: all 0.25s;
    transition: all 0.25s;
    color: #212121;
}

.social-links {
    top: 25px;
    right: 15px;
    width: 250px;
    height: 34px;
    list-style: none;
    position: absolute;
    display: inline-block;
}

.social-links li {
    width: 34px;
    height: 34px;
    float: left;
    margin: 0 8px;
    display: inline-block;
}

.social-links li a {
    display: block;
    outline: none;
    margin: 0 4px;
    text-indent: -9000px;
    position: relative;
    border: none;
    overflow: hidden;
}

#social-twitter {
    width: 34px;
    height: 34px;
    background: transparent url(../img/social-twitter.png) no-repeat;
}

#social-facebook {
    width: 34px;
    height: 34px;
    background: transparent url(../img/social-facebook.png) no-repeat;
}

#social-gplus {
    width: 34px;
    height: 34px;
    background: transparent url(../img/social-google.png) no-repeat;
}

#social-instagram {
    width: 34px;
    height: 34px;
    background: transparent url(../img/social-instagram.png) no-repeat;
}

#social-git {
    width: 34px;
    height: 34px;
    background: transparent url(../img/social-github.png) no-repeat;
}

#social-twitter:hover,
#social-facebook:hover,
#social-gplus:hover,
#social-instagram:hover,
#social-git:hover {
    webkit-transform: rotate(5deg);
    moz-transform: rotate(5deg);
    o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.title {
    color: #a1a1a1;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    font-family: 'Roboto Slab', serif; 
}

.focu :focus {
    outline: -webkit-focus-ring-color auto 5px;
}