<ul class="social-links-footer">
    {% if site.twitter_username %}
    <li>
        <a class="social" href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
            <img class="svg" src="/assets/img/Twitter-color.svg" alt="Twitter">
        </a>
    </li>
    {% endif %} {% if site.facebook_username %}
    <li>
        <a class="social" href="https://facebook.com/{{ site.facebook_username }}" target="_blank">
            <img class="svg" src="/assets/img/Facebook-color.svg" alt="Twitter">
        </a>
    </li>
    {% endif %} {% if site.plus_username %}
    <li>
        <a class="social" href="https://plus.google.com/{{ site.plus_username }}" target="_blank">
            <img class="svg" src="/assets/img/GooglePlus-color.svg" alt="Twitter">
        </a>
    </li>
    {% endif %} {% if site.instagram_username %}
    <li>
        <a class="social" href="https://instagram.com/{{ site.instagram_username }}" target="_blank">
            <img class="svg" src="/assets/img/Instagram-color.svg" alt="Twitter">
        </a>
    </li>
    {% endif %} {% if site.github_username %}
    <li>
        <a class="social" href="https://github.com/{{ site.github_username }}" target="_blank">
            <img class="svg" src="/assets/img/Github-black.svg" alt="Twitter">
        </a>
    </li>
    {% endif %}
</ul>
<!-- jQuery Infinite Scrolling -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src='/assets/js/jquery.jscroll.min.js'></script>
<script>
    // $('.blog-content').jscroll({ 
    //   contentSelector: "ul#posts li.post", 
    //   nextSelector: 'a.next' 
    // });
</script>
<!-- JS -->
<script src="/assets/js/jquery-ui-1.10.4.min.js"></script>
<script src="/assets/js/toucheffects.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/assets/js/fokus.min.js"></script>
<script type="text/javascript" src="/assets/js/github-repos.js"></script>
<script>
$(document).ready(function() {
    $(".github-repos").githubRepos();
    $('a[target="_blank"]').addClass("external")
    $('a').each(function(index) {
        if ($(this).hasClass("social")) {
            $(this).removeClass("external");
        }
    });
});
jQuery('img.svg').each(function() {
    var $img = jQuery(this);
    var imgID = $img.attr('id');
    var imgClass = $img.attr('class');
    var imgURL = $img.attr('src');

    jQuery.get(imgURL, function(data) {
        var $svg = jQuery(data).find('svg');
        if (typeof imgID !== 'undefined') {
            $svg = $svg.attr('id', imgID);
        }
        if (typeof imgClass !== 'undefined') {
            $svg = $svg.attr('class', imgClass + ' replaced-svg');
        }
        $svg = $svg.removeAttr('xmlns:a');
        $img.replaceWith($svg);
    }, 'xml');
});

hljs.initHighlightingOnLoad();
</script>
</body>

</html>
