<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>
    {% if page.title and page.class == 'home' %}
        {{ site.title }}
    {% else %}
        {{ page.title }} &middot; {{ site.title }}
    {% endif %} 
	</title>
    

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- Facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} &mdash;{% endif %} {{ site.name }}"/>
  	<meta property="og:site_name" content="Rafael Pazini"/>
  	<meta property="og:url" content="{{ site.url }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
  	<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}blog{% endif %}"/>
  	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"/>

  	<!-- Twitter -->
  	<meta property="twitter:account_id" content="168701118" />
	
	<!-- Sites Links Replace -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" /> -->

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}assets/img/favicon.ico" type="image/x-icon" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body{%if page.class %} class="{{ page.class }}" {% endif %}>