@media only screen and (min-width:901px) {
    .home .post-content,
    .blog .post-content {
        min-width: 400px;
        max-width: 1050px;
    }
    .social-links-footer {
      display: none !important;
    }

    .social-links {
        position: absolute;
        width: 280px;
        left: 0;
        right: 0;
        bottom: 45px;
        white-space:nowrap;
        margin: 5px auto 0 auto;
        padding-left: 8%;
    }
    .social-links li {
      width: 12%;
    }
    #logo {
        padding: 260px 0 40px 0;
    }
}

@media only screen and (max-width:900px) {
    #master {
        box-shadow: none;
        display: block !important;
        width: 100% !important;
        position: static !important;
        padding-top: 45px !important;
    }
    #master ul {
      text-align: center;
    }
    #master ul li {
        position: relative;
        display: inline-block !important;
        margin: 0px 10px;
    }
    .social-links-footer {
      display: block !important;
    }
    .social-links {
      display: none !important;
    }
    .blog-content {
        position: relative !important;
        width: 100%;
    }
    .post-content {
        padding: 20px 30px;
    }
    #logo {
        padding: 60px 0;
    }
    #logo h2 {
      margin-top: 165px;
    }
    .social-links-footer {
        position: relative;
        bottom: 15px !important;
        margin: 0 auto;
        width: 250px;
        left: 35px
      }
    .social-links-footer .svg {
      width: 24px;
      height: 24px;
    }
    .social-links-footer .svg path{
      fill: #b0120a;
    }
}

@media only screen and (max-width:480px) {
    #master {
        display: none !important;
    }
    #small-nav {
        display: block;
    }
    #small-nav i.fa {
    	padding: 0 15px;
    }
    .blog-content {
        margin-top: 0px;
    }
    .blog .title {
        padding: 0;
    }
    .navbar .title {
        font-family: 'Roboto', sans-serif !important;
        font-size: 23px !important;
        color: #fff !important;
        border-bottom: none;
        margin: 15px 0 0 10px;
        position: absolute;
    }
}
